name: CI
on:
  push:
    branches:
      - main
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
defaults:
  run:
    shell: pwsh
jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
      fail-fast: false
    steps:
      - name: Check for secrets
        env:
          SECRETS_AVAILABLE: ${{ secrets.SECRETS_AVAILABLE }}
        run: exit $(If ($env:SECRETS_AVAILABLE -eq 'true') { 0 } Else { 1 })
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          global-json-file: global.json
      - name: Build
        run: dotnet build src --configuration Release
      - name: Upload packages
        if: matrix.name == 'Windows'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: NuGet packages
          path: nugets/
          retention-days: 7
      - name: Azure login
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_ACI_CREDENTIALS }}
      - name: Setup Azure Service Bus
        uses: Particular/setup-azureservicebus-action@v2.0.0
        with:
          connection-string-name: AzureWebJobsServiceBus
          azure-credentials: ${{ secrets.AZURE_ACI_CREDENTIALS }}
          tag: ASBWorkerFunctions
      - name: Setup functions app
        id: setup-functions
        uses: Particular/setup-azurefunctions-action@main
        with:
          azure-credentials: ${{ secrets.AZURE_ACI_CREDENTIALS }}
          tag: NSB.AzureFunctions
      - name: Deploy IntegrationTest app
        uses: azure/webapps-deploy@v2.2.17 # Do not upgrade to v3, see https://github.com/Azure/webapps-deploy/issues/386
        with:
          app-name: ${{ steps.setup-functions.outputs.app-name }}
          publish-profile: ${{ steps.setup-functions.outputs.publish-profile }}
          # TODO: Build to a non-tfm-dependent path
          package: src/IntegrationTest/bin/Release/net10.0
      - name: Run tests
        uses: Particular/run-tests-action@v1.7.0